:root{
    --cor-primaria: #e21;
    --cor-primaria-escura: #900; 
    --fundo1: #f7f7f7;
    --fundo2: #fff;
    --texto: #000;
    --subtitulo: #c6c6c6;
    --onda: url('./img/onda-clara.svg');
}

@media (prefers-color-scheme: dark){
    :root{
        --cor-primaria: #e21;
        --cor-primaria-escura: #900; 
        --fundo1: #111;
        --fundo2: #000;
        --texto: #fff;
        --subtitulo: #313131;
        --onda: url('./img/onda-escura.svg');
    }
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--fundo1);
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: var(--texto);
}

.boxlogo{
    height: 150px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.litaLinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.litaLinks ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.litaLinks a{
    padding: 0.9375rem 1.875rem;
    display: block;
    text-decoration: none;
    color: var(--texto);
    text-transform: uppercase;
    background-color: var(--fundo2);
    border-radius: 4px;
    font-size: 1rem;
    border: 3px solid var(--fundo2);
}

.litaLinks a:hover{
    border: 3px solid var(--cor-primaria);
}

.grid{
    display: grid;
    grid-template-columns:  minmax(100px, 500px) minmax(100px, 500px);
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

.inicio{
    background-color: var(--fundo2);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 5.375rem 2.5rem;
    text-align: end;
    justify-content: end;
    height: 100%;
}

.inicio h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

.inicio a{
    background-color: var(--cor-primaria);
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;   
    font-size: 1rem;
    border-radius: 4px;
}

.inicio a:hover{
    background-color: var(--cor-primaria-escura);
}

.img{
    background-color: var(--cor-primaria);
    height: 100%;
    width: 100%;
    background-image: url(img/bicicleta.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::after{
    content: '';
    display: block;
    background-color: var(--cor-primaria);
    width: 60px;
    height: 4px;
    position: absolute;
    top: 30px;
    left: -30px;
}

.vantagens{
    text-align: end;
    font-size: 4rem;
    font-weight: bold;
    margin-right: 40px;
    color: var(--subtitulo);
    background-image: var(--onda);
}

.dados{
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--fundo2);
} 

.dados span:nth-child(odd){
    background-color: var(--fundo1);
}

.dados .gen{
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    box-sizing: content-box;
    padding: 1rem;
}

.dados .gen:hover{
    border-left: 4px solid var(--cor-primaria);
}

.dados .gen span{
    font-weight: bold;
}

.dados .gen p{
    grid-column: 2;
}

footer{
    height: 100px;
    width: 100%;
    background-color: var(--fundo2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

@media (max-width: 1000px)
{
    .grid{
        grid-template-columns:  minmax(100px, 500px);
        align-items: center;
        justify-content: center;
        margin: 65px 10px 50px 10px ;
    }

    .img{
        background-color: var(--cor-primaria);
        max-width: 500px;
        height: 400px;
        background-image: url(img/bicicleta.jpg);
        background-size: cover;
    }

    .img::after{
        width: 4px;
        height: 60px;
        position: absolute;
        top: -30px;
        left: 20px;
    }

    .vantagens{
        text-align: end;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 1.875rem auto;
        color: var(--subtitulo);
    }

    footer{
        margin-top: 0px;
    }
    
}